@using Ichoosr.Domain.Models
@using Ichoosr.Web.Models.ViewModels

@model HomepageViewModel


<h1>Security cameras Utrecht</h1>
<div id="map"></div>
<script>var cameras = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Cameras));</script>
<div id="source">
    source:
    <a href="https://data.overheid.nl/dataset/camera-s">https://data.overheid.nl/dataset/camera-s</a>
</div>
<main>
    <table id="cameraTableContainer">
        <tbody>
            <tr>
                <td>
                    @{ TableTemplate(Model.CamerasThree, "column3", "Cameras 3"); }
                </td>
                <td>
                    @{ TableTemplate(Model.CamerasFive, "column5", "Cameras 5"); }
                </td>
                <td>
                    @{ TableTemplate(Model.CamerasThreeAndFive, "column15", "Cameras 3 & 5"); }
                </td>
                <td>
                    @{ TableTemplate(Model.CamerasOther, "columnOther", "Cameras Overig"); }
                </td>
            </tr>
        </tbody>
    </table>
</main>

@{
    void TableTemplate(IEnumerable<Camera> cameras, string tableId, string title)
    {
        <table id="@tableId">
            <thead>
                <tr>
                    <th colspan="4">@title</th>
                </tr>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                @foreach (var camera in cameras)
                {
                    <tr>
                        <td>@camera.Number</td>
                        <td>@camera.Name</td>
                        <td>@camera.Latitude</td>
                        <td>@camera.Longitude</td>
                    </tr>
                }
            </thead>
            <tbody>
            </tbody>
        </table>
    }
}