@model HomepageModel

@{
    var threes = Model.Cameras.Where(c => c.Number % 3 == 0);
    var fives = Model.Cameras.Where(c => c.Number % 5 == 0);
    var threeFives = Model.Cameras.Where(c => c.Number % 3 == 0 && c.Number % 5 == 0);
    var other = Model.Cameras.Where(c => c.Number % 3 != 0 && c.Number % 5 != 0);
}

<h1>Security cameras Utrecht</h1>
<div id="map"></div>
<script>@Html.Raw(Model.CamerasJson)</script>
<div id="source">
    source:
    <a href="https://data.overheid.nl/dataset/camera-s">https://data.overheid.nl/dataset/camera-s</a>
</div>
<main>
    <table id="cameraTableContainer">
        <tbody>
            <tr>
                <td>
                    <table id="column3">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 3</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                            @foreach (var camera in threes)
                            {
                                <tr>
                                    <td>@camera.Number</td>
                                    <td>@camera.Name</td>
                                    <td>@camera.Latitude</td>
                                    <td>@camera.Longitude</td>
                                </tr>
                            }
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="column5">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 5</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="column15">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 3 &amp; 5</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="columnOther">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras Overig</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</main>
@foreach (var camera in Model.Cameras)
{
    <text>hoi</text>
}
